
{% block title %}{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_groupe_creator') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_groupe_creator') }}
{% endblock %}

{% block body %}
    <h1 class="text-primary">Création d'un groupe</h1>

    Création d'un groupe <br>
    Ces derniers contiennent des élèves ainsi que des professeurs
    {{ form(form) }}
{% endblock %}
