{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ encore_entry_link_tags('app_login') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_login') }}
{% endblock %}

{% block title %}My Learning{% endblock %}




{% block body %}
    <h1>Mon compte</h1>
    Bienvenue <strong>{{app.user.firstname }}</strong>, ici nous sommes dans la page compte, c'est ici que vous allez pouvoir administrer vos données...<br>

    <hr>

    <div class="row">
        <div class="col-md-4">
            <div class="account-item">
                <a class="btn btn-success" href="{{ path('app_account_password') }}">Modifier mon mot de passe</a>
            </div>
        </div>
    </div>
{% endblock %}
